[user]
	email = gulakov@ispras.ru
	name = Ivan Gulakov
[core]
	editor = vim
	excludesfile = ~/.gitglobalignore

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[pull]
	rebase = false

[interactive]
    diffFilter = delta --color-only
